@model Idea.Models.User


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ideaPage.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="greet_text">
            <h2>Welcome @Session["Username"]</h2>
        </div>


        <div class="addIdeaButton">
            <p>Got an idea? Why don't you add here?</p>
            @using (Html.BeginForm("createIdea", "Ideas", FormMethod.Post))
            {
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Add Idea
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content ideamodal">
                            @Html.LabelFor(m => m.Idea1.Title)
                            @Html.EditorFor(m => m.Idea1.Title, new { htmlAttributes = new { @class = "form-control ideaModel_item" } })
                            @Html.ValidationMessageFor(m => m.Idea1.Title)

                            @Html.LabelFor(m => m.Idea1.Description)
                            @Html.TextAreaFor(m => m.Idea1.Description, new { @class = "form-control ideaModel_item", @rows = "10" })
                            @Html.ValidationMessageFor(m => m.Idea1.Description)

                            @Html.HiddenFor(m => m.Idea1.UserID, new { Value = @Session["UserID"] })
                            <div class="modal-footer ideamodal_footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary addIdea">Add Idea</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div id="demo">
            <p onclick="myIdea(@Session["UserId"])"><b> Show my ideas </b></p>
        </div>
    </div>

    <div class="col-md-8">
        <div class="ideaViewer">
            @foreach (var c in Model.AllIdea)
            {
                <div class="eachIdea">
                    <div class="idea_Title">
                        @c.Title
                    </div>
                    <div class="idea_Description">
                        @c.Description
                    </div>
                </div>
                <hr />
            }
        </div>
    </div>

    @* modal for update button *@
    @using (Html.BeginForm("Update", "Ideas", FormMethod.Post))
    {
        <div class="modal" id="myupdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        </div>
    }

</div>